:root{
  /* colors */
  --primary-orange: hsl(25, 97%, 53%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-light-grey: hsl(217, 12%, 63%);
  --neutral-medium-grey: hsl(216, 12%, 54%);
  --neutral-dark-blue: hsl(213, 19%, 18%);
  --neutral-very-dark-blue: hsl(216, 12%, 8%);
  --neutral-rating-dark-blue: hsl(216, 12%, 54%, .15);

  /* font weights */
  --fw-regular: 400;
  --fw-bold: 700;

  /* transitions */
  --clr-transitions: background-color 300ms ease-out, color 300ms ease-out;
}

body{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  font-family: 'Overpass', sans-serif;
  background-color: var(--neutral-very-dark-blue);
  color: var(--neutral-light-grey);
}

main{
  display: grid;
  place-content: center;
  font-size: 0.9375rem;
  margin: 1.1rem;
} 

h1{
  margin-bottom: .5rem;
  color: var(--neutral-white);
}

.rating-modal{
  display: grid;
  padding-block: 1.8rem 1.8rem;
  padding-inline: 1.4rem;
  background-color: var(--neutral-dark-blue);
  border-radius: 20px;
}

.rating-modal__default{
  display: grid;
  gap: 1.4rem;
}

.star-icon{
  background-color: var(--neutral-rating-dark-blue);
  aspect-ratio: 1;
  padding: .8rem;
  margin-bottom: 1.2rem;  /* bad practice? */
  border-radius: 50%;
}

.rating-modal__rating{
  text-align: center;
}

.rating-modal__group{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.1rem;
  border: none;
  margin-block-end: 1.4rem;
}

.rating-modal__radio{
  display: none;
}

.rating-modal__label{
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: var(--neutral-rating-dark-blue);
  font-size: 1.2rem;
  cursor: pointer;
  transition: var(--clr-transitions);
  display: grid;
  place-content: center;
}

.rating-modal__radio:checked + .rating-modal__label{
  background-color: var(--neutral-light-grey);
  color: var(--neutral-white);
}

.rating-modal__label:hover, .rating-modal__radio:checked + .rating-modal__label:hover{
  background-color: var(--primary-orange);
  color: var(--neutral-white);
}

.rating-modal button{
  border-radius: 30px;
  width: 100%;
  padding-block: .7rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: var(--fw-bold);
  color: var(--neutral-white);
  background-color: var(--primary-orange);
  cursor: pointer;
  transition: var(--clr-transitions);
}

.rating-modal button:hover{
  background-color: var(--neutral-white);
  color: var(--primary-orange);
}

.rating-modal__thanks{
  text-align: center;
  display: none;
}

.rating-modal__thanks img{
  margin: auto;
}

.rating-modal__result{
  background-color: var(--neutral-rating-dark-blue);
  color: var(--primary-orange);
  max-width: fit-content;
  padding: .35rem 1.2rem;
  border-radius: 25px;
  margin: 1.4rem auto;
}

.rating-modal__para{
  color: var(--neutral-light-grey);
  max-width: 33ch;
  padding-bottom: .5rem;
}

/* attribution from given template */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media (min-width: 700px){
  .rating-modal{
    /* padding-inline: 2rem; */
    border-radius: 30px;
  }

  .rating-modal__para{
    max-width: 35ch;
  }
}